<!-- app.component.html -->
<mat-card class="form-card">
  <mat-card-header>
    <mat-card-title class="center">Create new user</mat-card-title>
  </mat-card-header>

  <form
    [formGroup]="form"
    (submit)="formOnSubmit()"
  >
    <mat-card-content>
      <h4 *ngIf="errorMessage()"><mat-error>{{errorMessage()}}</mat-error></h4>

      <mat-form-field
        appearance="outline"
        class="full-width"
      >
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="Enter your full name"
          formControlName="name"
        >
        <mat-icon matSuffix>person</mat-icon>
        <mat-error *ngIf="form.value.name">Name is required, and it must be
          at-least 8 character long</mat-error>
        <mat-hint>Hint: Your full name</mat-hint>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        class="full-width"
      >
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Enter your email"
          formControlName="email"
        >
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="form.value.email">A valid email address is
          required</mat-error>
        <mat-hint>Hint: user&#64;example.com</mat-hint>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="full-width"
      >
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Enter strong Password"
          formControlName="password"
        >
        <mat-icon matSuffix>password</mat-icon>
        <mat-error *ngIf="form.value.password">A valid password must contain
          atleast 8 character</mat-error>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        class="full-width"
      >
        <mat-label>Verify Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Retype your Password"
          formControlName="c_password"
        >
        <mat-icon matSuffix>password</mat-icon>
        <mat-error *ngIf="form.value.c_password">Passwords does
          not match.</mat-error>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="full-width"
      > <mat-label>Role</mat-label>
        <mat-select
          formControlName="roleId"
          placeholder="Select a role"
        >
          @for (role of assignableRoles(); track role.id) {
          <mat-option [value]="role.id">{{role.roleName}}</mat-option>
          }@empty {
          <mat-option disabled>No roles available</mat-option>

          }
        </mat-select>
      </mat-form-field>




    </mat-card-content>

    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        class="right"
        [disabled]="!form.valid"
      >Submit</button>
    </mat-card-actions>
  </form>
</mat-card>
