@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  margin: 0;
  box-sizing: border-box;
  font-size: 13px;
}
html,
body {
  height: 100%;
}

.center {
  text-align: center;
  margin: auto;
}

.center-text-important {
  text-align: center !important;
}
.right {
  align-items: self-end;
  margin: 0 0 0 auto;
  align-self: flex-end;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.full-width {
  width: 100%;
}
[routerLink] {
  cursor: pointer !important;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-4 {
  flex: 4;
}
.flex-6 {
  flex: 6;
}

.hidden {
  display: none;
}


.w-40{
  width: 40%;
}
.w-50{
  width: 50%;
}.w-60{
  width: 60%;
}

.border{
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}

.card-header{
  font-weight: bold;
  background: rgb(185, 185, 239);
  padding: 5px;
}

.card-body{
  padding: 10px;;
}

.mb-10{
  margin-bottom: 10px;
}

.mb-5{
  margin-bottom: 5px;
}

.mr-5{
  margin-right: 5px;
}
.mt-10{
  margin-top: 10px;
}

.curser{
  cursor: pointer;
}

.link{
  color: blueviolet;
}

.prev-label{
  color: #5a5a5a;
  font-weight: 500;
}

.prev-header{
  border-bottom: 1px solid #dbdbdb; font-size: 1rem; padding: 5px; font-weight: 500;
}