.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(103, 58, 183, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.tile-text {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 150px;

  padding: 8px 16px;
  border-radius: 4px;
}

.tile-text:hover {
  text-decoration: underline;
}

.card:hover .overlay {
  opacity: 1;
  transform: scale(1.05);
}

/* ////////// */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.card {
  width: calc(20% - 16px);
  min-width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-image {
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

mat-card-header {
  display: flex;
  align-items: center;
}

mat-card-title {
  font-size: 1.2em;
  font-weight: bold;
}

.card-text {
  margin: 0;
}
mat-card {
  cursor: pointer !important;
}
/* Styles for mobile devices */
@media only screen and (max-width: 600px) {
  .overlay {
    opacity: 0.9;
  }
}
